html{
    max-height: 100vh;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    aspect-ratio: 16/9;
    height: 100vh;
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    color: white;
    font-size: 20px;
}

ul {
    color: black;
}

div {
    margin: auto;
    width: 40rem;
    height: 50rem;
    aspect-ratio: 9/16;
    display: inline-block;
    border-radius: 4rem;
    outline-color: cyan;
    outline-width: 0.1rem;
    outline-style: solid;
    text-align: center;
    margin-block-end: 3%;
}

fieldset .innerBox1 {
    height: 100%;
    width: 100%;
    outline: 0;
    display: inline-block;
    text-align: left;
    padding-top: 1rem;
}

fieldset .innerBox2 {
    height: 100%;
    width: 100%;
    outline: 0;
    display: inline-block;
    text-align: left;
    padding-top: 1rem;
}

.legends {
    font-size: 1.3rem;
    margin-right: 20rem;
    position: relative;
}

div .fieldSet1 {
    border-color: cyan;
    border-width: 0.1rem;
    border-radius: 3rem;

    height: 50%;
    width: 80%;
    margin:auto;
    display:inline-block;
}

div .fieldSet2 {
    border-color: cyan;
    border-width: 0.1rem;
    border-radius: 3rem;

    height: 27%;
    width: 80%;
    margin:auto;
    display:inline-block;
}

.labels {
    font-size: 1.3rem;
}

.inputClass{
    font-size: 1.1rem;
}

.inputClass2{
    font-size: 1.1rem;
    width: 100%;
    height: 6em;

}

button{
    font-size: 1.5rem;
    width: 20%;
    height: 5%;
}